/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-6/338002445_677913507670967_8650668437760003413_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeHkKmCQGb7P8dILs2LdQc-GnGIaLJMHAD-cYhoskwcAP7Xyrjg8lTGHFpOBiH4_dZvDZjo_eByH2oMoGnCqD5pi&_nc_ohc=sw-o8gL6gCkQ7kNvgGAMTEh&_nc_zt=23&_nc_ht=scontent.fhan3-3.fna&_nc_gid=AmeMW4mDQdlkSUwUR0nqsCs&oh=00_AYDr3AvCYAenv2HEORKJVhGQCViqu3n_ACK8RhTaxeh_2w&oe=6713B937");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */