.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
}
.breadcrumb {
  font-size: 14px;
  margin: 15px 0;
}
.breadcrumb a {
  text-decoration: none;
  color: black;
}
.breadcrumb span {
  color: #333;
}
.content-section {
  display: flex;
  gap: 20px;
}
.main-content {
  flex: 4;
}
.sidebar {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.announcement-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.announcement-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.announcement-card img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}
.announcement-info h3 {
  font-size: 18px;
  margin: 0;
  color: black;
}
.announcement-info p {
  font-size: 14px;
  color: #666;
}
.read-more {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.read-more:hover {
  text-decoration: underline;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.sidebar ul li a {
  color: black;
  text-decoration: none;
}
.sidebar ul li a:hover {
  text-decoration: underline;
}
.sidebar h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
}

@media only screen and (max-width:1200px) {
    .sidebar{
        display: none;
    }
}